*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body, html {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.header {
border: lawngreen 5px solid;
display: flex;
justify-content: space-between;
}

.logo {
border: turquoise 5px solid;
}

.links {
border: 5px solid;
}

ul {
    display: flex;
}

li, a {
    text-decoration: none;
    list-style-type: none;
}