*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

body, html {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.header {

display: flex;
height: 60px;
background: #1f2937;
color: #eee;
padding:  0 120px;

}

.logo {
    color: #f9faf8;
    width: 30%;
    font-size: 24px;
    
    background: rgb(77, 77, 238);
}

.logos {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.logo-box {
    display: flex;
   align-items: center;
}

img {
    
    width: 50px;
   
}

.links {
    
    width: 100%;
    border:rgb(77, 77, 238) 1px solid ;
    border-right: transparent;
}

ul {
    display: flex;
   justify-content: flex-end;
   align-items: center;
   
   height: 60px;
}

li, a {
    text-decoration: none;
    list-style-type: none;
    color: #e5e7eb;
    padding: 0 8px;
    font-size: 18px;
}

li :hover {
    background-color: rgb(64, 179, 224);
    color: rgb(253, 253, 253);
    border-radius: 10px;
}

li {
    display: flex;
    
    
}

.sub-header {
    background: #1f2937;
    color: #f9faf8;
    display: flex;
    padding: 0 120px;
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 400px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
}

.para-1 {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 8px;
}


button {
    align-self: flex-start;
    background: #3882f6;
    border: #3882f6;
    color: #1f2937;
    padding: 8px 16px;
    border-radius: 4px;
}

.image-placeholder {
    
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-size: 28px;
    margin: 48px;
}

.gif {
    width: 75%;
    height: 60%;
}

.information {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 32px;
   margin-bottom: 100px;
}

.card-container {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
}

.cards {
    border: 1px solid rgb(20, 124, 158);
    height: 170px;
    display: flex;
    justify-content: flex-start;
    width: 250px;
    margin: 8px;
    border-radius: 10px;
}

.space {
    height: 100%;
    width: 100%;
}

.quote {
    display: flex;
    background: #e5e7eb;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    padding: 100px 350px;
    font-size: 36px;
    color: #1f2937;
    font-weight: light;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.section {
    margin: 800px 0;
}

.footer {
    background: #1f2937;
    color: #eee;
}