*, *::before, *::after {
    box-sizing: inherit;
    
}
body, html {
    box-sizing: border-box;
    padding: 0;
    margin: 0 ;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    color: blue;
    font-size: 48px;
    font-weight: bolder;
    padding: 0 16px;
}

.main {
    background: #1f2937;
    padding: 0 8px;
}

.item {
    padding: 16px;
}

.item-1, .item-3, .item-5, .item-6, .item-7 {
    font-size: 18px;
    color: #e5e7eb;
}

.item-2 {
    color: #f9faf8;

}

.child-2 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.child-3 {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
}

.item-7 {
    padding-bottom: 32px;
}

.info {
    padding: 32px 0 0 24px;
}

.btn-child {
    color: #3882f6;
    padding-bottom: 24px;
}

.bold-child {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding-bottom: 24px;
}

.quote {
    background: #e5e7eb;
    padding: 12px 0 0 24px;
}

.quote-parent {
   
}

.quote-child {
    padding-top: 8px;
    padding-bottom: 16px;
}

.quote-child-2 {
    font-size: 36px ;
    font-weight: lighter;
    color: #1f2937;
    padding-top: 8px;
    padding-bottom: 36px;
}